.shirt-state {
	margin:0 auto;
	width:1150px;
}

.shirt-state-search {
	width:100%;
	height:50px;
	line-height:50px;
	font-size:15px;
	color:#000000;
}

.search-brand {
	padding:0 0 0 20px;
}

.search-source,
.search-active,
.search-beginDate {
	padding:0 0 0 10px;
}

.search-beginDate input,
.search-endDate input {
	width:83px;
}

.search-s-shirt {
	margin:0 0 0 10px;
	width:60px;
	height:30px;
	line-height:30px;
}

.search-add-shirt {
	margin:12px 20px 0 0;
	width:100px;
	float:right;
}

.shirt-state-info {
	width:100%;
}

.shirt-state-table {
	width:100%;
	font-size:11px;
	color:#333333;
	border-width:1px;
	border-color:#E5E5E5;
	border-collapse:collapse;
	text-align:center;
}

.shirt-state-table th {
	border-width:1px;
	padding:8px;
	border-style:solid;
	border-color:#E5E5E5;
	background-color:#E5E5E5;
}

.shirt-s-t-th-1 {
	width:40px;
}

.shirt-s-t-th-2 {
	width:215px;
}

.shirt-s-t-th-3 {
	width:35px;
}

.shirt-s-t-th-4 {
	width:100px;
}

.shirt-s-t-th-5 {
	width:50px;
}

.shirt-s-t-th-6 {
	width:30px;
}

.shirt-s-t-th-7 {
	width:50px;
}

.shirt-s-t-th-8 {
	width:40px;
}

.shirt-s-t-th-9 {
	width:135px;
}

.shirt-s-t-th-10 {
	width:35px;
}

.shirt-s-t-th-11 {
	width:55px;
}

.shirt-state-table td {
	border-width:1px;
	padding:8px;
	border-style:solid;
	border-color:#E5E5E5;
	background-color:#ffffff;
}

.shirt-s-t-td-opt-1 {
	width:50px;
	color:#FFFFFF;
	cursor:pointer;
}

.shirt-s-t-td-opt-2 {
	width:50px;
	color:#FFFFFF;
	cursor:pointer;
}

.shirt-s-t-td-opt-3 {
	width:50px;
	color:#FFFFFF;
	cursor:pointer;
}

/**************shirt add start*******************/
.shirt-add-layer {
	width:100%;
	height:100%;
    position:fixed;
    top:0;
   	background-color:rgba(0,0,0,0.5);
    text-align:center;
   	display:none;
}

.shirt-add-layer:after {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.shirt-add-part {
	display:inline-block;
    vertical-align:middle;
	width:500px;
	/* min-height:500px; */
	min-height:575px;
	background-color:#FAFAFA;
	border-radius:10px;
	line-height:1;
	font-family:'Microsoft YaHei' ! important;
  	box-shadow:
	  	-3px 0 15px rgba(0,0,0,0.1),/*左边阴影*/  
		3px 0 15px rgba(0,0,0,0.1),/*右边阴影*/
		0 -3px 15px rgba(0,0,0,0.1), /*顶部阴影*/ 
		0 3px 15px rgba(0,0,0,0.1); /*底边阴影*/
}

.shirt-add-part-title {
	height:50px;
	line-height:50px;
	font-size:17px;
	border-radius:10px 10px 0 0;
	background-color:#4B9FDF;
	color:#FFFFFF;
	width:100%;
	text-align:left;
}

.shirt-add-part-title-left {
	padding:0 0 0 36px;
}

.shirt-add-part-title-right {
	margin:0 20px 0 0;
	cursor: pointer;
	float:right;
}

.shirt-add-content {
	width:100%;
	text-align:left;
}

.shirt-add-s-url {
	margin:10px 0 0 20px;
}

.shirt-add-s-url input {
	margin:0 0 0 20px;
	width:350px;
}

.shirt-add-s-title {
	margin:10px 0 0 20px;
	height:82px;
	line-height:82px;
}

.shirt-add-s-title span {
	vertical-align:top;
}

.shirt-add-s-title textarea {
	margin:0 0 0 52px;
	width:350px;
	height:70px;
}

.shirt-add-s-price,
.shirt-add-s-design,
.shirt-add-s-imgType,
.shirt-add-s-uploadfile,
.shirt-add-s-imgUrl {
	margin:10px 0 0 20px;
}

.shirt-add-s-uploadfile input {
	width:350px;
}

.shirt-add-s-imgUrl input {
	width:350px;
}

.shirt-add-item-price,
.shirt-add-item-design,
.shirt-add-item-sleeve,
.shirt-add-item-imgType,
.shirt-add-item-uploadfile,
.shirt-add-item-imgUrl {
	width:84px;
	display:inline-block;
}

.shirt-add-s-price input {
	width:65px;
}

.shirt-add-item-source,
.shirt-add-item-brand,
.shirt-add-item-active,
.shirt-add-item-weight {
	margin:0 20px 0 30px;
}

.shirt-add-design-sel {
	width:98px;
}

.shirt-add-s-color {
	margin:10px 0 0 20px;
}

.shirt-add-item-color {
	margin:0 0 0 52px;
	width:375px;
	display:inline-block;
}

.shirt-add-item-color-label {
	height:30px;
	line-height:30px;
	vertical-align:top;
}

.shirt-add-item-color span {
	margin:0 8px 5px 0;
	height:30px;
	line-height:30px;
	width:60px;
	font-size:14px;
	text-align:center;
	display:inline-block;
	border-radius:4px;
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
}

.shirt-add-s-sleeve {
	margin:5px 0 0 20px;
}

#shirt-add-weight,
#shirt-edit-weight {
	margin:0 0 0 20px;
	width:80px;
}

.shirt-add-item-uf-input {
	margin:-31px 0 0 88px;
}

.shirt-add-sel-btn {
	width:90px;
	display:inline-block;
}

.shirt-add-sel-filename {
	padding:0 0 0 10px;
	font-size:14px;
}

.shirt-add-s-btn {
	margin:20px 30px 0 20px;
	width:100%;
}

.shirt-add-btn {
	width:60px;
}

.shirt-add-error-msg {
	text-align:left;
	width:387px;
	height:30px;
	line-height:30px;
	font-size:14px;
	color:#D2494A;
	display:inline-block;
}


/*************************shirt add end***********************/

/*************************shirt edit start********************/
.shirt-edit-layer {
	width:100%;
	height:100%;
    position:fixed;
    top:0;
   	background-color:rgba(0,0,0,0.5);
    text-align:center;
   	display:none;
}

.shirt-edit-layer:after {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.shirt-edit-part {
	display:inline-block;
    vertical-align:middle;
	width:500px;
	min-height:575px;
	background-color:#FAFAFA;
	border-radius:10px;
	line-height:1;
	font-family:'Microsoft YaHei' ! important;
  	box-shadow:
	  	-3px 0 15px rgba(0,0,0,0.1),/*左边阴影*/  
		3px 0 15px rgba(0,0,0,0.1),/*右边阴影*/
		0 -3px 15px rgba(0,0,0,0.1), /*顶部阴影*/ 
		0 3px 15px rgba(0,0,0,0.1); /*底边阴影*/
}

.shirt-edit-part-title {
	height:50px;
	line-height:50px;
	font-size:17px;
	border-radius:10px 10px 0 0;
	background-color:#4B9FDF;
	color:#FFFFFF;
	width:100%;
	text-align:left;
}

.shirt-edit-part-title-left {
	padding:0 0 0 36px;
}

.shirt-edit-part-title-right {
	margin:0 20px 0 0;
	cursor: pointer;
	float:right;
}
/*************shirt edit end*******************/


/*************************shirt delete start********************/
.shirt-del-layer {
	width:100%;
	height:100%;
    position:fixed;
    top:0;
   	background-color:rgba(0,0,0,0.5);
    text-align:center;
   	display:none;
}

.shirt-del-layer:after {
    content:'';
    display:inline-block;
    vertical-align:middle;
    height:100%;
}

.shirt-del-part {
	display:inline-block;
    vertical-align:middle;
	width:404px;
	height:200px;
	background-color:#FAFAFA;
	border-radius:10px;
	line-height:1;
	font-family:'Microsoft YaHei' ! important;
  	box-shadow:
	  	-3px 0 15px rgba(0,0,0,0.1),/*左边阴影*/  
		3px 0 15px rgba(0,0,0,0.1),/*右边阴影*/
		0 -3px 15px rgba(0,0,0,0.1), /*顶部阴影*/ 
		0 3px 15px rgba(0,0,0,0.1); /*底边阴影*/
}

.shirt-del-part-title {
	height:50px;
	line-height:50px;
	font-size:17px;
	border-radius:10px 10px 0 0;
	background-color:#D44846;
	color:#FFFFFF;
	width:100%;
	text-align:left;
}

.shirt-del-part-title-left {
	padding:0 0 0 36px;
}

.shirt-del-part-title-right {
	margin:0 20px 0 0;
	cursor: pointer;
	float:right;
}

.shirt-del-content {
	padding:20px 20px 0 28px;
	text-align:left;
	font-size:14px;
	color:#656565;
	line-height:1.8;
}

.shirt-del-s-btn {
	margin:20px 30px 0 0;
	text-align:right;
}

.shirt-del-btn {
	width:60px;
}
/*************shirt delete end*******************/
