body {
	margin:0;
	/* opacity:0; */
	font-family:'Microsoft YaHei' ! important;
	line-height:1;
}

/*red-btn start for delete*/
.red-btn {
	/* width: 90px; */
	width:auto;
    height: 30px;
    line-height:30px;
	border-radius:4px;
    color:#FFFFFF;
    background-color:#D2494A;
    vertical-align:middle;
    font-size:14px;
    line-height:26px;
    text-align:center;
    cursor:pointer;
    display:inline-block;
}
.red-btn:hover {
    background-color:#E45657;
}
.red-btn:active {
    background-color:#933334;
    color:#B2B2B2;
}
/*red-btn end for delete*/

/*blue-btn start for create or edit*/
.blue-btn {
	/* width: 90px; */
	width:auto;
    height: 30px;
    line-height:30px;
    border-radius:4px;
    color:#FFFFFF;
    font-size:14px;
    text-align:center;
    vertical-align:middle;
	background-color:#4B9FDF;
	cursor:pointer;
	display:inline-block;
}
.blue-btn:hover {
	background-color:#54AAEB;
}
.blue-btn:active {
	background-color:#346F9C;
	color:#B2B2B2;
}
/*blue-btn end for create or edit*/


.input {
	padding:0 5px 0 5px;
	border-radius:4px;
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
	outline:medium;
	background-color:#FFFFFF;
	height:30px;
	line-height:30px;
	width:auto;
	font-size:14px;
	color:#000000;
	font-family:'Microsoft YaHei' ! important;
}
.input:hover {
	border-color:#969696;
}
.input:focus {
   	border-color:#2483CB;
}

.textarea {
	padding:5px 5px 5px 5px;
	border-radius:4px;
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
	outline:medium;
	background-color:#FFFFFF;
	resize:none;
	/* height:30px;
	line-height:30px; */
	width:auto;
	font-size:14px;
	color:#000000;
	font-family:'Microsoft YaHei' ! important;
}
.textarea:hover {
	border-color:#969696;
}
.textarea:focus {
   	border-color:#2483CB;
}

.select {
	width:auto;
    height:30px;
    line-height:30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 0 0 5px;
    border-color:#CCCCCC;
    border-width:1px;
    border-style:solid;
    outline:medium;
    background-color:#FFFFFF;
    border-radius:4px;
    font-size:14px;
    color:#000000;
    font-family:'Microsoft YaHei' ! important;
}
.select:hover {
	border-color:#969696;
}
.select:focus {
   	border-color:#2483CB;
}

/**************pagination***************/
.itee-pagination {
	height:60px;
	line-height:60px;
	width:100%;
	text-align:right;
	font-size:14px;
	color:#b2b2b2;
}

.pagination-item-sel {
	margin:0 0 0 5px;
	border-radius:3px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
	height:30px;
	line-height:30px;
	display:inline-block;
	width:30px;
	text-align:center;
	color:#ffffff;
	background-color:#4b9fdf;
}

.pagination-item-point {
	margin:0 0 0 5px;
	border-radius:3px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
	height:30px;
	line-height:30px;
	display:inline-block;
	width:30px;
	text-align:center;
}

.pagination-item {
	margin:0 0 0 5px;
	border-radius:3px;
	-webkit-border-radius:3px;
    -moz-border-radius:3px;
	height:30px;
	line-height:30px;
	display:inline-block;
	width:30px;
	text-align:center;
	color:#b2b2b2;
	background-color:#f2f2f2;
}

.pagination-item:hover {
  background-color:#d9d9d9;
  color:#ffffff;
  cursor:pointer;
}
/**************pagination***************/